{% extends 'base.html' %}

{% block title %} 
    {{ title }} 
{%endblock %} 

{% block content %}
    <div class="container">
        <h1>Main page</h1>
        <hr>
        <ul>
        <li><a href='{% url "pick_game" %}'>Orders</a></li>
        <li><a href='{% url "show_all_orders" %}'>Orders</a></li>
        <li><a href='{% url "add_customer" %}'>Customer registration</a></li>
        <li><a href='{% url "add_product" %}'>Add product</a></li>
        <li><a href='{% url "add_order" %}'>Make an order</a></li>
        </ul>
    </div>

{% endblock %}